<h1>メモアプリ</h1>

<form action="/create" method="post">
  <p></p>
  <input type="text" name="memo_title">
  <p></p>
  <textarea name="memo_content"></textarea>
  <p></p>
  <button type="submit">保存</button>
</form>
<form action="/" method="get">
  <input type="submit" value="戻る">
</form>
