<div class="top">
  <ul style="padding: 0px;">
    <% @memo_title_all.each do |title| %>
      <li class="memo_titles">
        <a href="/memo/<%= title['title'] %>">
          <%= Rack::Utils.escape_html(title['title']) %>
        </a>
      </li>
      <% end %>
  </ul>
  <a href="/memo/new" class="btn-flat-border">メモを追加</a>
</div>
