<div class="top">
  <ul style="padding: 0px;">
    <% @result.each do |tuple| %>
      <li class="memo_titles">
        <a href="/memo/<%= tuple['title'] %>">
          <%= Rack::Utils.escape_html(tuple['title']) %>
        </a>
      </li>
      <% end %>
  </ul>
  <a href="/memo/new" class="btn-flat-border">メモを追加</a>
</div>
