<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charaset="utf-8">
  <title><%= @title %></title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
  <h1><%= yield %></h1>
  </div>
</body>
</html>