<% @result.each do |tuple| %>
<h2>タイトル</h2>
<p class="title_view">
  <%= tuple['title'] %>
</p>
<h2>本文</h2>
<p class="content_view">
  <%= tuple['body'] %>
</p>
<form action="/memo/custom/<%= tuple['title'] %>" method="get">
  <input class="btn-flat-border" type="submit" value="変更">
</form>
<p></p>
<form action="/memo/<%= tuple['title'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="btn-flat-border" type="submit" value="削除">
</form>
<% end %>
