body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.container {
    width: 400px;
    margin: 20px auto;
}

h1 {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

input[type="text"] {
    padding: 3px;
    border-style: solid; 
}

.memo_title {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.memo_title p {
    margin: 0; 
    padding: 0;
}
